.post {
  .post-image {
    height: 400px;
    overflow: hidden;
    display: flex;
    align-items: center;
    .wp-post-image {
      width: 100%;
      height: auto;
    }
  }
  .understrap-read-more-link {
    display: none !important;
  }
}
