.post {
  .post-image {
    max-height: 400px;
    overflow: hidden;
    display: flex;
    align-items: center;
    .wp-post-image {
      width: 100%;
      height: auto;
    }
  }
  .understrap-read-more-link {
    display: none !important; 
  }
}

.comments-area {
  .comment-reply-title {
    font-size:1.25rem;
  }
}
